<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.instakilogram.project.post.comment.dao.CommentDAO">
	<insert id="addComment" parameterType="map">
		INSERT INTO `comment`
		(
			`userId`
			,`userName`
			,`postId`
			,`content`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{userId}
			,#{userName}
			,#{postId}
			,#{content}
			,now()
			,now()
		)
	</insert>

	<select id="selectCommentList" resultType="com.instakilogram.project.post.comment.model.Comment">
		SELECT	
			*
		FROM
			`comment`
	</select>
</mapper>