<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.instakilogram.project.post.comment.dao.CommentDAO">
	<insert id="addComment" parameterType="map">
		INSERT INTO `comment`
		(
			`postId`
			,`userId`
			,`userName`
			,`content`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{postId}
			,#{userId}
			,#{userName}
			,#{content}
			,now()
			,now()
		)
	</insert>

	<select id="selectCommentList" parameterType="int" resultType="com.instakilogram.project.post.comment.model.Comment">
		SELECT	
			`id`
			,`postId`
			,`userId`
			,`userName`
			,`content`
			,`createdAt`
			,`updatedAt`
		FROM
			`comment`
		WHERE
			`postId` = #{postId}
	</select>
	
	<delete id="deleteComment" parameterType="int">
		DELETE FROM `comment`
		WHERE
			`postId` = #{postId}
	</delete>
</mapper>