@charset "UTF-8";

#wrap {
	width:1200px;
	height:800px;
	margin:auto;
}

.content > .join-box {
	width:600px;
	height:800px;
}

#item {
	position: relative;
	left:25%;
}

.container{
	display:flex;
	flex-direction: row;
}

.item2 {
	position: relative;
	left:12.5%;
}
